<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazingReader.mapper.DraftMapper">
    <!--int getMaxDraftNumOfBook(int bookId);-->
    <select id="getMaxDraftNumOfBook" parameterType="int" resultType="int">
        select max(draft_chapter_num) from draft where draft_book_id = #{_parameter}
    </select>

	 <!--List<Draft> getDraftByBookId(int bookId);-->
	 <select id="getDraftByBookId" parameterType="int" resultType="Draft">
		select * from draft where draft_book_id = #{_parameter} and draft_statu = 1
	 </select>

    <!--List<Draft> getDraftByBookIdForDelete(int bookId);-->
    <select id="getDraftByBookIdForDelete" parameterType="int" resultType="Draft">
		select * from draft where draft_book_id = #{_parameter} and draft_statu = 0
	 </select>

    <!--boolean addDraft(Draft draft);-->
    <insert id="addDraft" parameterType="Draft">
        INSERT INTO `draft` (`draft_chapter_num`, `draft_book_id`, `draft_chapter_name`, `draft_word_num`, `draft_chapter_price`, `draft_chapter_statu`, `draft_chapter_content`, `draft_edit_time`,`draft_upload_time`, `draft_chapter_addition`,`draft_chapter_addition_character`,`draft_chapter_addition_img1`,`draft_chapter_addition_img2`,`draft_chapter_addition_img3`)
                      VALUES (#{draftChapterNum}, #{draftBookId}, #{draftChapterName}, #{draftWordNum}, #{draftChapterPrice}, #{draftChapterStatu},#{draftChapterContent}, #{draftEditTime},#{draftUploadTime},#{draftChapterAddition}, #{draftChapterAdditionCharacter}, #{draftChapterAdditionImg1}, #{draftChapterAdditionImg2}, #{draftChapterAdditionImg3})
    </insert>

    <!--Draft getDraftByBookIdAndDraftNum(int bookId, int draftNum);-->
    <select id="getDraftByBookIdAndDraftNum" resultType="Draft">
        select * from draft where draft_chapter_num = #{param2} and draft_book_id = #{param1}
    </select>

    <!--boolean updateDraft(Draft draft);-->
    <update id="updateDraft" parameterType="Draft">
        UPDATE `draft` SET `draft_chapter_num`=#{draftChapterNum}, `draft_chapter_name`=#{draftChapterName}, `draft_word_num`=#{draftWordNum}, `draft_chapter_price`=#{draftChapterPrice},
            `draft_chapter_statu`=#{draftChapterStatu}, `draft_chapter_content`=#{draftChapterContent}, `draft_edit_time`=#{draftEditTime},`draft_upload_time`=#{draftUploadTime},
             `draft_chapter_addition`=#{draftChapterAddition}, `draft_chapter_addition_character`=#{draftChapterAdditionCharacter}, `draft_chapter_addition_img1`=#{draftChapterAdditionImg1},
             `draft_chapter_addition_img2`=#{draftChapterAdditionImg2}, `draft_chapter_addition_img3`=#{draftChapterAdditionImg3}
                  WHERE (`draft_chapter_num`=#{draftChapterNum}) AND (`draft_book_id`=#{draftBookId})
    </update>


    <!--boolean updateDraftNum(int newNum, int oldNum, int bookId);-->
    <update id="updateDraftNum">
        update draft set draft_chapter_num=#{param1} where draft_chapter_num=#{param2} AND draft_book_id=#{param3}
    </update>

    <!--boolean deleteDraft(int num, int bookId);-->
    <update id="deleteDraft">
        update draft set draft_statu = 0 where draft_chapter_num = #{param1} and draft_book_id = #{param2}
    </update>

    <!--boolean reDraft(int num, int  bookId);-->
    <update id="reDraft">
        update draft set draft_statu = 1 where draft_chapter_num = #{param1} and draft_book_id = #{param2}
    </update>

    <!--List<Chapter> getChapters(int bookId);-->
    <select id="getChapters" parameterType="int" resultType="Chapter">
        select * from chapter where chapter_book_id = #{_parameter}
    </select>

    <!--boolean deleteDraftReal(int num, int bookId);-->
    <delete id="deleteDraftReal">
        delete from draft where draft_chapter_num = #{param1} and draft_book_id = #{param2}
    </delete>

    <!--boolean upDraft(int num, int bookId);-->
    <update id="upDraft">
        update draft set draft_check_statu = 1 where draft_chapter_num = #{param1} and draft_book_id = #{param2}
    </update>
</mapper>