<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazingReader.mapper.ReaderRechargeRecordMapper">
   <!-- public List<ReaderRechargeRecord> getAllRechargeRecord();-->
    <insert id="insertRecord" parameterType="ReaderRechargeRecord">
        INSERT  into reader_recharge_record(recharge_money,recharge_time,recharge_reader_id) VALUES(#{rechargeMoney},#{rechargeTime},#{rechargeReaderId})
    </insert>
    <delete id="removeRecordByRecordId" parameterType="Integer">
        DELETE FROM reader_recharge_record WHERE record_id=#{rechargeId}
    </delete>
    <delete id="removeRecordByReaderId" parameterType="Integer">
        DELETE FROM reader_recharge_record WHERE recharge_reader_id=#{rechargeReaderId}
    </delete>
    <select id="getAllRechargeRecord" resultType="ReaderRechargeRecord">
        SELECT * FROM reader_recharge_record
    </select>

</mapper>