a{
    text-decoration: none;
}
.context_summary{
    width: 1029px;
    height: 60px;
    border-bottom: #dddddd 1px solid;
}
.select_span{
    width: 90px;
    height: 20px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 新宋体;
    /*border: #0f0f0f 1px solid;*/
}
.select_year{
    width: 120px;
    height: 30px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.select_button{
    width: 90px;
    height: 30px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #2aabd2;
    border: none;
    border-radius: 5px;
    color: white;
    line-height: 30px;
    text-align: center;
    font-family: 新宋体;
    font-size: 15px;
}
.new_button{
    width: 90px;
    height: 30px;
    float: right;
    margin-top: 15px;
    margin-right: 30px;
    background-color: #2aabd2;
    border: none;
    border-radius: 5px;
    color: white;
    line-height: 30px;
    text-align: center;
    font-family: 新宋体;
    font-size: 15px;
}
.img_null{
    position: absolute;
    left: 400px;
    top: 200px;
}
.span_null{
    position: absolute;
    left: 450px;
    top:400px;
}
.popBox{
    width: 350px;
    height: 380px;
    background-color: #fafafa;
    /*border: #000000 1px solid;*/
    border-radius: 2px;
    font-family: 新宋体;
    font-size: 18px;
    z-index: 101;
    position: relative;
}
.popBoxHandle{
    width: 349px;
    height: 50px;
    background-color: #f3f3f3;
    /*border: #0f0f0f 1px solid;*/
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 50px;
    text-align: center;
    font-size: 21px;
    border-bottom: #dddddd 1px solid;
}
.close{
    width: 5px;
    height: 5px;
    color: #dddddd;
    position: absolute;
    left: 325px;
    top: 0px;
    z-index: 110;
    font-size: 20px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}
.new2{
    width: 60px;
    height: 25px;
    /*border: #0f0f0f 1px solid;*/
    position: absolute;
    left: 30px;
    top: 70px;
}
.new3{
    width: 280px;
    height: 30px;
    position: absolute;
    left: 30px;
    top: 100px;
    font-size: 20px;
    outline-color: #dddddd;
}
.new4{
    width: 90px;
    height: 25px;
    /*border: #0f0f0f 1px solid;*/
    position: absolute;
    left: 30px;
    top: 140px
}
.new5{
    width: 280px;
    height: 100px;
    position: absolute;
    left: 30px;
    top: 170px;
    font-size: 20px;
    outline-color: #dddddd;
}
.submit{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 120px;
    top: 300px;
    font-size: 18px;
    border: none;
    background-color: #2aabd2;
    color: white;
    outline: none;
}
.table1{
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    border: #dddddd 1px solid;
}
.th1{
    width: 150px;
    height: 30px;
    border: #dddddd 1px solid;
}
.tr1{
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.text1{
    float: left;
    margin-top: 80px;
    margin-left: 20px;
    width: 300px;
    height: 200px;
    border: #0f0f0f 1px solid;
}